REDIRECT_URL='http://localhost:8000/callback'
CLIENT_ID='353asdgasgajov.apps.googleusercontent.com'
CLIENT_SECRET='GOasdg-S2-RqasdgsagapaR-pOasdgsagagv4LXa'
PROJECT_ID='psdg-hsdgs-354518'
AUTH_URI='https://accounts.google.com/o/oauth2/auth'
TOKEN_URI='https://oauth2.googleapis.com/token'
AUTH_PROVIDER_X509_CERT_URL='https://www.googleapis.com/oauth2/v1/certs'
DATASTORE_PROJECT_ID='psdg-hsdgs-354518'
GOOGLE_APPLICATION_CREDENTIALS="c:/Users/jdoe/psdg-hsdgs-354518-1b6f8f69ed84.json"
STATIC_DIR='./static'