<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Norton's Property Management</title>

<link rel="stylesheet" href="http://redrockcodecamp.org/educationMaterials/frameworks/js/bootstrap/4.1.3/css/bootstrap.min.css" />
<link rel="stylesheet" href="http://redrockcodecamp.org/educationMaterials/frameworks/fonts/font-awesome/5.5.0/css/all.min.css" />
<link rel="stylesheet" href="assets/css/montserrat.css">
<link rel="stylesheet" href="style.css" />

<script src="general.js"></script>