{{> navbar }}

<div id="properties">
    <img id="contactImage" src="images/contact.jpg" alt="Properties">
    {{> searchbar }}

    <div id="contact" class="container small row d-flex justify-content-center m-auto">

        <div class="col-5 text-left">
            <h2>Get in touch with us</h2>
            <p>Say hello</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A laboriosam architecto necessitatibus dolores harum, magni unde minima est in cum officia dicta aut velit iste ad ratione excepturi nam dolore?</p>
            <p><span class="text-primary">Address:</span><br>1481 Creekside Lane Avilla<br>Beach, CA 94342</p>
            <p><span class="text-primary">Phone:</span><br>801-582-0935</p>
            <p><span class="text-primary">Email:</span><br>joe@mama.com</p>
        </div>
        <div class="col-7">
            <form action="#" id="contactForm">

                <div class="row">
                    <div class="col-6"><input type="text" name="name" id="name"  class="form-control" required placeholder="Name"></div>
                    <div class="col-6"><input type="email" name="email" id="email"  class="form-control" required placeholder="E-mail"></div>
                </div>
                <div class="row">
                    <div class="col-12"><input type="text" name="subject" id="subject" class="form-control" required placeholder="Subject"></div>
                </div>
                
                <div class="row">
                    <div class="col-12"><textarea rows="5" name="message" id="message" class="form-control" required placeholder="Message"></textarea></div>
                </div>
                <div class="row">
                    <div class="col-12"><button type="submit" class="btn btn-primary badge-pill">Submit</button></div>
                </div>
            </form>
        </div>
    </div>


    <br>
    <br>
</div>

{{> footer}}


