<div id="footer" class="d-flex flex-column justify-content-center align-items-center">

    <div id="footerRow" class="d-flex justify-content-center flex-wrap w-100 mx-1 font-weight-bold">
        <div id="footer1">Are you buying or selling?</div>
        <form id="newsletterForm" class="ml-1 d-flex justify-content-center border-white bg-white badge-pill p-0">
            <input type="email" name="email" id="newsletterEmail" class="ml-3 border-0 mr-0 form-control" placeholder="Enter e-mail" required>
            <button class="text-center flex-grow-1 badge-pill border-0 h-100" id="btnSubmitNewsletterForm" type="submit">SUBSCRIBE NOW</button>
        </form>

    </div>

</div>

<div id="tagLine" class="w-100 d-flex flex-wrap justify-content-center bg-white">
    <div>Copyright <i class="fas fa-copyright"></i> 2019 | This site is made with <i class="fas fa-heart" aria-hidden="true"></i> by Dave</div>  
    <div><a href="/home.html" data-route-link>Home</a></div>
    <div><a href="/properties.html" data-route-link> Properties</a></div>
    <div><a href="/contact.html" data-route-link> Contact</a></div>
    <div><span style="font-weight: bold">CALL US</span>: 652 345 3222 11</div>
</div>