<nav>
    <div>
        <a href="/property-management.html" data-route-link>Norton</a><br>
        <img id="navLogo" src="images/logo.png" alt="Norton's BlueSky">
        <a class="{{indexActive}}" href="/index.html" data-route-link>Home</a>
        <a class="{{propertiesActive}}" href="/properties.html" data-route-link>Properties</a>
        <a class="{{contactActive}}" href="/contact.html" data-route-link>Contact</a>
        <div id="navPhone" class="outlineButton">
            <button class="outlinedButton"><i class="fas fa-phone"></i> 652 345 3222 11</button>
        </div>

    </div>
</nav>