<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title small">Ad Goes here.</h3>
    </div>
    <div class="panel-body">
        <div class="card">
            <div style="max-height:400px" class="overflow-hidden"><img class="card-img-top thumb-post" src="{{ ad.imageUrl }}" alt="Ad image"></div>
            
            <div class="card-body">
                <h5 class="card-title">{{ ad.title }}</h5>
                <p class="card-text">{{ ad.description }}</p>
                <a href="{{ ad.url }}" class="btn btn-primary">Click to learn more</a>
            </div>
        </div>
    </div>
</div>
