<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title small">Featured Course</h3>
    </div>
    <div class="panel-body">
        <div class="card">
            <img class="card-img-top" src="{{ featuredCourse.imageUrl }}" alt="Featured Course Image">
            <div class="card-body">
                <h5 class="card-title">{{ featuredCourse.title }}</h5>
                <p class="card-text">{{ featuredCourse.description }}</p>
                <a href="{{ featuredCourse.url }}" class="btn btn-primary">Click to learn more</a>
            </div>
        </div>
    </div>
</div>