<div id="footer" class="d-flex flex-column justify-content-center align-items-center">

    <div id="footerRow" class="d-flex justify-content-center flex-wrap w-100 mx-1 font-weight-bold">

        <div class="d-flex flex-column justify-content-center align-items-center">
            <div id="footer1" class="text-center fs-6">Subscribe today!</div>
            <form id="newsletterForm"
                class="ml-1 d-flex justify-content-center border border-1 border-dark bg-white badge rounded-pill p-0">
                <input type="email" name="email" id="newsletterEmail" class="ml-3 border-0 mr-0 form-control"
                    placeholder="Enter e-mail" required>
                <button class="text-center flex-grow-1 badge rounded-pill border-0 h-100" id="btnSubmitNewsletterForm"
                    type="submit">SUBSCRIBE NOW</button>
            </form>
        </div>

    </div>
</div>

<div id="tagLine" class="col w-100 d-flex flex-wrap justify-content-center bg-white">

    <div><a href="/index.html" data-route-link>Home</a></div>
    <div><a href="/generic.html?page=about" data-route-link>About Us</a></div>
    <div><a href="/generic.html?page=information" data-route-link>Helpful Info</a></div>
    <div><a href="/generic.html?page=services" data-route-link>What We Offer</a></div>
    <div><a href="/generic.html?page=contact" data-route-link>Contact</a></div>

    <div><span style="font-weight: bold">CALL US</span>: (801) 857-5309</div>

    <div class="small">Copyright <i class="fas fa-copyright"></i> 2022 | Created by Norton Solutions</div>

</div>